/* loader */
@keyframes load {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.loader__box {
  width: 197px;
  height: 197px;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loader__box div {
  box-sizing: content-box;
  position: absolute;
  top: 98.5px;
  left: 98.5px;
  width: 48px;
  height: 48px;
  border: 4px solid #00bdd3;
  border-top-color: transparent;
  border-radius: 50%;
  animation: load 1.3513513513513513s linear infinite;
}

